<h1>Contact Us</h1>

<div class="contact-container">
  <div class="contact-details">
    <p><strong>Email:</strong> support@perfume-store.com</p>
    <p><strong>Phone:</strong> +123 456 789</p>
    <p><strong>Telegram:</strong> <a href="https://t.me/just_oleh1" target="_blank">@perfume_store</a></p>
  </div>

  <%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %>
</div>
